@{ 
    ViewBag.Title = "Index";
}

<div class="jumbotron">
    <h1>Homework 4</h1>
    <p>MVC application on a web based platform</p>
</div>


<p>The purpose of this project is to demonstrate the input output flow along html and webservers. </p>
<ul>
    <li>@Html.ActionLink("Page 1", "Page1")</li>
    <li>@Html.ActionLink("Page 2", "Page2")</li>
    <li>@Html.ActionLink("Page 3", "Page3")</li>
</ul>

<p>
    <em>Page 1</em> is a 2 input form where all the server needs to do is provide basic feed back.

</p>