
@{
    ViewBag.Title = "Page2";
}
<div class="jumbotron">
    <h1>Insult-o-Tron!</h1>
    <p>Enter in your birthday and find your own personal insult! </p>
</div>

<form method="post" action="Page2">
    <label for="month">Birth Month!</label><br />
    <input type="number" name="month" min="1" max="12" value="1" />
    <br />
    <br />
    <label for="day">Birth Day of the Month!</label><br />
    <input type="number" name="day" min="1" max="31" value="1" />
    <br />
    <br />
    <label for="year">Birth Year!</label><br />
    <input type="number" name="year" min="1950" max="2000" value="1985" />


    <br />
    <br />
    <input type="submit" name="submit" value="GO!" />

</form>

<p>

    @ViewBag.Message 
</p>


